<table class="table table-hover table-condensed details-drop" style="border-collapse:collapse;">
    <caption>{{caption}}</caption>
    <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Workflow </th>
            <th> Description </th>
            <th> State </th>
            <th ng-if="canAssignTasks"> </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="task in tasks | orderBy:idToInt" class="accordion-toggle" data-toggle="collapse"
            data-target="{{'#' + task.id}}" ng-class-odd="'odd'">
            <td> {{task.id}} </td>
            <td> {{task.name}} </td>
            <td> {{task.processInstanceId}} </td>
            <td> {{task.description}} </td>
            <td> {{task.state}} </td>
            <td ng-if="canAssignTasks">
                <button moo-take-task-button task="task" type="button" class="btn btn-primary">
                    Assign task to me
                </button>
            </td>
        </tr>
        <tr ng-repeat-end>
            <td class="hiddenRow" colspan="42">
                <div class="collapse" id="{{task.id}}">
                    <moo-task-details task="task" can-complete="canCompleteTasks"></moo-task-details>
                </div>
            </td>
        </tr>
    </tbody>
</table>
