<table class="table table-hover table-condensed details-drop" style="border-collapse:collapse;">
    <caption>Tasks</caption>
    <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Workflow </th>
            <th> Description </th>
            <th> State </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="task in tasks" class="accordion-toggle" data-toggle="collapse"
            data-target="{{'#' + task.id}}" ng-class-odd="'odd'">
            <td> {{task.id}} </td>
            <td> {{task.name}} </td>
            <td> {{task.processInstanceId}} </td>
            <td> {{task.description}} </td>
            <td> {{task.state}} </td>
        </tr>
        <tr ng-repeat-end>
            <td class="hiddenRow" colspan="42">
                <div class="collapse" id="{{task.id}}">
                    <moo-task-details task="task" on-complete="completeTask(task)"></moo-task-details>
                </div>
            </td>
        </tr>
    </tbody>
</table>
