<div ng-show="task" class="container">
    <div class="row">
        <div class="col-sm-3">
            <strong>Details for task {{task.id}}</strong>
            <ul>
                <li>
                    <b>Name:</b> {{task.name}}
                </li>
                <li>
                    <b>Description:</b> {{task.description}}
                </li>
                <li>
                    <b>Workflow:</b> {{task.processInstanceId}}
                </li>
                <li>
                    <b>Task ID:</b> {{task.id}}
                </li>
                <li>
                    <b>Activity Name:</b> {{task.activityName}}
                </li>
                <li>
                    <b>State:</b> {{task.state}}
                </li>
                <li>
                    <b>Assignee:</b> {{task.assignee}}
                </li>
            </ul>
        </div>
        <div class="col-sm-6" ng-switch on="canComplete">
            <moo-editable-variables ng-switch-when="true" variables="task.variables"></moo-editable-variables>
            <moo-read-only-variables ng-switch-default variables="task.variables"></moo-read-only-variables>
        </div>
        <div class="col-sm-2">
            Outcomes
        </div>
        <div class="col-sm-1">
            <button moo-complete-task-button task="task" ng-if="canComplete" type="button"
                    class="btn btn-primary completeTask">
                Complete Task
            </button>
        </div>
    </div>
</div>

