
<moo-workflow-tree wflow-name="workflowName" editable="true"></moo-workflow-tree>


<moo-conflicting-instances wflow-name="workflowName" conflicts="conflicts"></moo-conflicting-instances>

<button class="btn btn-danger" moo-stop-conflicts="workflowName" ng-if="conflicts.length">
    Stop All Running Instances
</button>

<moo-modal modal-id="subproc-chooser-modal" title="Select Workflow">
    <moo-workflow-chooser></moo-workflow-chooser>
</moo-modal>



<div class="modal fade" id="conflicts-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Conflicts</h4>
            </div>
            <div class="modal-body">
                <moo-conflicting-instances wflow-name="workflowName" conflicts="conflicts"></moo-conflicting-instances>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" moo-stop-conflicts="workflowName" retry="true">
                    Stop All Running Instances
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<br />
<button class="btn btn-primary btn-lg" ng-click="toggleShowWorkflows()">
    <span ng-if="!showWorkflows">
        Copy an existing workflow
    </span>
    <span ng-if="showWorkflows">
        Close
    </span>
</button>

<div ng-if="showWorkflows">
    <moo-workflow-chooser></moo-workflow-chooser>
</div>




<moo-ajax-spinner></moo-ajax-spinner>