<h1 ng-if="editable" ng-bind="workflow.name()"></h1>

<div id="{{treeId}}"></div>



<form ng-if="showFields" novalidate role="form">
    <div>
        <label> Name </label>
        <input ng-model="workflow.selectedActivity.name" ng-model-options="{getterSetter: true}"
               ng-disabled="!editable"/>
    </div>



    <div class="form-group" ng-repeat="apiAttr in workflow.selectedActivity.apiAttributes">
        <label> {{apiAttr.label}} </label>
        <input type="{{apiAttr.inputType}}" ng-model="apiAttr.value" ng-disabled="!editable"  />
    </div>


    <moo-editable-variables ng-if="editable" variables="workflow.selectedActivity.variables">
    </moo-editable-variables>

    <moo-read-only-variables ng-if="!editable" variables="workflow.selectedActivity.variables">
    </moo-read-only-variables>

    <br />

    <input ng-if="editable" type="submit" class="btn btn-primary" ng-click="save()" value="Save" />



    <!-- Messing around with bootsrap -->

    <!--<div class="container-fluid">-->
        <!--<div class="row" style="margin-bottom: 1em">-->
            <!--<div class="col-xs-5">-->
                <!--<div class="input-group">-->
                    <!--<label class="input-group-addon"> <strong> Name </strong> </label>-->
                    <!--<input ng-model="workflow.selectedActivity.name" ng-model-options="{getterSetter: true}"-->
                           <!--ng-disabled="!editable" class="form-control" type="text"/>-->
                <!--</div> &lt;!&ndash; input group &ndash;&gt;-->
            <!--</div> &lt;!&ndash; col &ndash;&gt;-->
        <!--</div> &lt;!&ndash; row &ndash;&gt;-->
        <!--<div class="row" style="margin-bottom: 1em" ng-repeat="apiAttr in workflow.selectedActivity.apiAttributes">-->
            <!--<div class="col-xs-5">-->
                <!--<div class="input-group" >-->
                    <!--<label class="input-group-addon"> <strong> {{apiAttr.label}} </strong> </label>-->
                    <!--<input class="form-control" type="{{apiAttr.inputType}}" ng-model="apiAttr.value" ng-disabled="!editable"  />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</form>

<br />

<div ng-if="editable">



    <moo-workflow-component component="component" ng-repeat="component in workflowComponents"></moo-workflow-component>

    <div class="trash">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </div>
</div>