<h1 ng-if="treeCtrl.editable" ng-bind="treeCtrl.workflow.name()"></h1>
<div class="col-md-12">
    <div class="col-md-6" ng-if="treeCtrl.editable">



        <moo-workflow-component component="component" ng-repeat="component in treeCtrl.workflowComponents"></moo-workflow-component>

        <div class="trash">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </div>
    </div>
    <div class="col-md-6" ng-if="treeCtrl.editable">


    </div>
</div>

<div class="col-md-12">
<div class="col-md-6" id="{{treeCtrl.treeId}}"></div>



<form class="col-md-6" ng-if="treeCtrl.showFields" novalidate role="form">
    <div class="col-md-12">

        <label class="col-md-3"> Name: </label>
        <input class="col-md-2" ng-model="treeCtrl.workflow.selectedActivity.name" ng-model-options="{getterSetter: true}"
               ng-disabled="!treeCtrl.editable"/>

    </div>


    <div class="col-md-12" class="form-group" ng-repeat="apiAttr in treeCtrl.workflow.selectedActivity.apiAttributes">
        <label class="col-md-3"> {{apiAttr.label}}: </label>
        <input class="col-md-2 {{apiAttr.key}}" type="{{apiAttr.inputType}}" ng-model="apiAttr.value"
               ng-disabled="!treeCtrl.editable"  />
    </div>

    <button ng-if="treeCtrl.showWorkflowChooser" ng-click="treeCtrl.openChooser()">
        Choose Workflow for Subprocess
    </button>

    <moo-editable-variables ng-if="treeCtrl.editable" variables="workflow.selectedActivity.variables">
    </moo-editable-variables>

    <moo-read-only-variables ng-if="!treeCtrl.editable" variables="workflow.selectedActivity.variables">
    </moo-read-only-variables>

    <br />

    <input ng-if="treeCtrl.editable" type="submit" class="btn btn-primary" ng-click="treeCtrl.save()" value="Save" />



    <!-- Messing around with bootstrap -->

    <!--<div class="container-fluid">-->
        <!--<div class="row" style="margin-bottom: 1em">-->
            <!--<div class="col-xs-5">-->
                <!--<div class="input-group">-->
                    <!--<label class="input-group-addon"> <strong> Name </strong> </label>-->
                    <!--<input ng-model="workflow.selectedActivity.name" ng-model-options="{getterSetter: true}"-->
                           <!--ng-disabled="!editable" class="form-control" type="text"/>-->
                <!--</div> &lt;!&ndash; input group &ndash;&gt;-->
            <!--</div> &lt;!&ndash; col &ndash;&gt;-->
        <!--</div> &lt;!&ndash; row &ndash;&gt;-->
        <!--<div class="row" style="margin-bottom: 1em" ng-repeat="apiAttr in workflow.selectedActivity.apiAttributes">-->
            <!--<div class="col-xs-5">-->
                <!--<div class="input-group" >-->
                    <!--<label class="input-group-addon"> <strong> {{apiAttr.label}} </strong> </label>-->
                    <!--<input class="form-control" type="{{apiAttr.inputType}}" ng-model="apiAttr.value" ng-disabled="!editable"  />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</form>
</div>
<br />
