

<moo-workflow-chooser main-btn-text="'Start Workflow'"></moo-workflow-chooser>


<moo-ajax-spinner></moo-ajax-spinner>



<moo-modal modal-id="variables-modal" title="Start workflow">
    <moo-editable-variables variables="selectedWflowVariables()"></moo-editable-variables>
</moo-modal>


<moo-modal modal-id="success-modal" title="Workflow started">
    {{workflowInstanceId}} started.
    <a href="" ng-click="viewProgress()">View progress of {{selectedWorkflow}} instances</a>
</moo-modal>







