<moo-legend></moo-legend>



<div ng-repeat="wflowName in shownTypes">
    <h3>{{wflowName}}</h3>
    <moo-workflow-tree-table  wflow-name="wflowName"></moo-workflow-tree-table>
</div>


<div ng-if="selectableTypes.length">
    <select ng-model="selectedType" ng-options="t for t in selectableTypes">
        <option value="" disabled selected>Select a workflow type</option>
    </select>
    <button ng-click="showType(selectedType)">Show status</button>
</div>

<moo-ajax-spinner></moo-ajax-spinner>
