<div>
    <h1>Active Workflows</h1>

    <moo-legend></moo-legend>

    Search: <input ng-model="searchText">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Workflow </th>
                <th ng-repeat="(heading, nothing) in workflowSummaries.headings"> {{heading}} </th>
            </tr>
        </thead>

        <tbody id="chiclet-chart" class="chiclet-chart">
            <tr ng-repeat="(wflowName, statuses) in workflowSummaries.workflows | filterKey:searchText" ng-click="selectWorkflow(wflowName)"
                ng-class="{ selected: isSelected(wflowName)}">

                <td>
                    <a ng-href="#/active-workflows/{{wflowName | wflowIdToName}}">
                        {{wflowName}}</a>
                </td>
                <td ng-repeat="(heading, nothing) in workflowSummaries.headings" ng-class="statuses[heading]"></td>

            </tr>
        </tbody>
    </table>
</div>